<ion-modal-view>
    <ion-content padding="false">
        <a href="" class="close-modal" ng-click="closeModalChange()"><i class="icon ion-ios-close-outline"></i></a>

        <div class="row">
            <div class="col">
                <div class="logo interna">
                    <!-- <img src="img/vihu-logo_dark-new.png" alt=""> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="content-head">
                    <i class="icon ion-key"></i>
                    <h4>Alterar Senha</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form name="changeForm" novalidate ng-submit="changePassForm(changeForm.$valid)" class="changeForm">
                    <div class="list list-inset">
                        <label class="item item-input" ng-class="{ 'hasError' : changeForm.currentPass.$invalid && changeForm.currentPass.$touched }">
                            <i class="icon ion-ios-unlocked"></i>
                            <input type="password" id="currentPass" name="currentPass" placeholder="Senha atual" ng-model="changeForm.pass" required>
                        </label>
                    </div>
                    <!-- <p ng-show="changeForm.currentPass.$invalid && changeForm.currentPass.$touched" class="assertive customPadd">Usuário inválido.</p> -->

                    <div class="list list-inset">
                        <label class="item item-input" ng-class="{ 'hasError' : changeForm.newPass.$invalid && changeForm.newPass.$touched  }">
                            <i class="icon ion-ios-locked-outline"></i>
                            <input type="password" id="newPass" name="newPass" placeholder="Nova senha" ng-model="changeForm.passNew" required>
                        </label>
                    </div>

                    <div class="list list-inset">
                        <label class="item item-input" ng-class="{ 'hasError' : changeForm.confirmPass.$invalid && changeForm.confirmPass.$touched  }">
                            <i class="icon ion-ios-locked-outline"></i>
                            <input type="password" id="confirmPass" name="confirmPass" placeholder="Confirme a senha" ng-model="changeForm.passConfirm" compare-to="changeForm.passNew" required>
                        </label>
                    </div>

                    <p class="assertive padding" ng-show="changeForm.confirmPass.$invalid && changeForm.confirmPass.$touched">A senha e confirmação de senha devem ser iguais</p>

                    <div class="customPadd">
                        <button type="submit" ng-disabled="changeForm.$invalid || savingPass" class="button button-block button-positive">
                            <span class="loading-puff" ng-show="savingPass"><img src="img/puff.svg" alt=""></span>
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </ion-content>
</ion-modal-view>