<ion-modal-view>
	<ion-content padding="false">
		<a href="#/login" class="close-modal" ng-click="closeModalForgot()"><i class="icon ion-ios-close-outline"></i></a>

		<div class="row">
			<div class="col">
				<div class="logo interna">
					<!-- <img src="img/vihu-logo_dark-new.png" alt=""> -->
				</div>
			</div>
		</div>

        <div class="row">
            <div class="col">
                <div class="content-head">
                    <i class="icon ion-key"></i>
                    <h4>Recuperar senha</h4>
                    <p class="padding note">Enviaremos um link de recuperação de senha para o e-mail cadastrado.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form name="forgotForm" novalidate ng-submit="recoverForm(forgotForm.$valid)" class="forgotForm">
                    <div class="list list-inset">
                        <label class="item item-input" ng-class="{ 'hasError' : forgotForm.emailForgot.$invalid && forgotForm.emailForgot.$touched  }">
                            <i class="icon ion-ios-locked-outline"></i>
                            <input type="email" name="emailForgot" id="emailForgot" placeholder="Digite seu e-mail" ng-model="forgotForm.passEmail" required>
                        </label>
                    </div>

                    <!-- <p ng-show="forgotForm.emailForgot.$invalid && forgotForm.emailForgot.$touched" class="assertive customPadd">E-mail inválido.</p> -->

                    <div class="customPadd">
                        <button type="submit" ng-disabled="forgotForm.$invalid || sendingPass" class="button button-block button-positive">
                            <span class="loading-puff" ng-show="sendingPass"><img src="img/puff.svg" alt=""></span>
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>

	</ion-content>
</ion-modal-view>