<ion-view>
    <ion-content class="padding logged">

        <div class="row">
            <div class="col">
                <div class="content-head">
                    <i class="icon ion-ios-locked"></i>
                    <h4>Acessos para Visitantes</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form name="acessosForm" novalidate ng-submit="allowForm(acessosForm.$valid)" class="acessosForm">

                    <div class="list list-inset">
                        <ionic-datepicker input-obj="datepickerObjectPopup">
                            <label class="item item-input">
                                <i class="icon ion-ios-calendar-outline"></i>
                                <button type="button" name="acessosForm.date" ng-model="acessosForm.date" class="button button-block button-default datePick-style">
                                {{datepickerObject.inputDate | date:'dd-MM-yyyy'}}</button>
                            </label>
                        </ionic-datepicker>
                    </div>

                    <div class="list list-inset">
                        <label class="item item-input" ng-class="{ 'hasError' : acessosForm.horario.$invalid && acessosForm.horario.$touched  }">
                            <i class="icon ion-ios-clock-outline"></i>
                            <input type="time" id="horario" name="horario" placeholder="Horário" ng-model="acessos.hora" required>
                        </label>
                    </div>

                    <div class="list list-inset">
                        <label class="item item-input" ng-class="{ 'hasError' : acessosForm.celular.$invalid && acessosForm.celular.$touched  }">
                            <i class="icon ion-iphone"></i>
                            <input type="tel" id="celular" name="celular" ui-br-phone-number placeholder="Celular do visitante" ng-model="acessos.phone" required>
                        </label>
                    </div>

                    <tooltip ng-show="setInvalidAmount" ng-hide"!setInvalidAmount" tooltip-template="Máximo de 5 convidados" tooltip-side="top" class="tooltips _slow _multiline _ready _top active"><tip class="smallerTip"><tip-tip class="_large">Máximo de 5 convidados</tip-tip><tip-arrow></tip-arrow></tip>
                    </tooltip>

                    <div class="list list-inset">
                        <label class="item item-input">
                            <i class="icon ion-ios-person-outline"></i>
                            <input type="number" id="amount" name="amount" placeholder="Quantidade de acessos" ng-model="acessos.qtd" required ng-change="validateAmount(acessos.qtd)">
                        </label>
                    </div>

                    <p class="padding note">Acesso permitido 30 minutos antes e até 3 horas depois do horário selecionado.</p>

                    <div class="customPadd">
                        <button type="submit" ng-disabled="acessosForm.$invalid || savingAcess || setInvalidQtd" class="button button-block button-positive">
                            <span class="loading-puff" ng-show="savingAcess"><img src="img/puff.svg" alt=""></span>
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </ion-content>
</ion-view>