<ion-view>
    <ion-content class="padding logged">

        <div class="row">
            <div class="col">
                <div class="content-head">
                    <i class="icon party"></i>
                    <h3>Festas</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form name="partyForm" novalidate ng-submit="partyList(partyForm.$valid, partyForm)" class="festasForm">
					<p class="padding note">Acesso permitido 30 minutos antes até 3 horas depois do horário selecionado.</p>
                    <div class="list list-inset">
                        <ionic-datepicker input-obj="datepickerFesta">
                            <label class="item item-input">
                                <i class="icon ion-ios-calendar-outline"></i>
                                <button type="button" name="partyForm.dateParty" ng-model="partyForm.dateParty" class="button button-block button-default datePick-style">
                                    {{datepickerParty.inputDate | date:'dd-MM-yyyy'}}
                                </button>
                            </label>
                        </ionic-datepicker>
                    </div>

                    <div class="list list-inset">
                        <label class="item item-input" ng-class="{ 'hasError' : partyForm.horario.$invalid && partyForm.horario.$touched  }">
                            <i class="icon ion-ios-clock-outline"></i>
                            <input type="time" id="horario" name="horario" placeholder="Horário" ng-model="partyForm.hora" required>
                        </label>
                    </div>
                    <p ng-show="partyForm.horario.$invalid && partyForm.horario.$touched || showMessage" class="assertive customPadd">Horário da festa é obrigatório</p>

                    <div class="row">
                    	<div class="col">
                    		<div class="content-head">
                    			<h4>Lista de Convidados</h4>
                    		</div>
                    	</div>
                    </div>

					<div class="row">
						<div class="col col-75">
							<div class="list">
		                        <p class="no-margin">Celular do convidado</p>
		                    </div>
	                    </div>
	                    <div class="col">
		                    <div class="list">
		                        <p class="no-margin">Acessos</p>
		                    </div>
	                    </div>
                    </div>

					<div class="invited-row">
						<div class="row each-guest">
							<div class="col col-67">
								<div class="list">
			                        <label class="item item-input" ng-class="{ 'hasError' : partyForm.celular.$invalid && partyForm.celular.$touched  }">
			                            <i class="icon ion-iphone"></i>
			                            <input type="tel" id="celular" name="celular" ui-br-phone-number placeholder="Celular" ng-model="partyForm.phone" required>
			                        </label>
			                    </div>
		                    </div>
		                    <div class="col">
			                    <div class="list">
			                    	<tooltip ng-show="invalidField" ng-hide"!invalidField" tooltip-template="Máximo de 5 convidados" tooltip-side="top" class="tooltips _slow _multiline _ready _top active"><tip class="smallerTip"><tip-tip class="_large">Máximo de 5 convidados</tip-tip><tip-arrow></tip-arrow></tip>
			                    	</tooltip>

			                        <label class="item item-input" ng-class="{ 'hasError' : partyForm.amount.$invalid && partyForm.amount.$touched  }">
			                            <input type="number" id="amount" name="amount" placeholder="0" ng-model="partyForm.qtd" ng-change="addRow(partyForm)" required>
			                        </label>
			                    </div>
		                    </div>
	                    </div>

						<div class="row each-guest" ng-repeat="item in inputs">
							<div class="col col-67">
								<div class="list">
			                        <label class="item item-input">
			                            <i class="icon ion-iphone"></i>
			                            <input type="tel" id="celular" name="cellphone" ui-br-phone-number placeholder="Celular" ng-model="item.phone">
			                        </label>
			                    </div>
		                    </div>
		                    <div class="col">
			                    <div class="list">
			                    	<tooltip ng-show="item.qtd < 1 || item.qtd > 5" ng-hide"item.qtd <= 5" tooltip-template="Máximo de 5 convidados" tooltip-side="top" class="tooltips _slow _multiline _ready _top active"><tip class="smallerTip"><tip-tip class="_large">Máximo de 5 convidados</tip-tip><tip-arrow></tip-arrow></tip>
			                    	</tooltip>

			                        <label class="item item-input">
			                            <input type="number" id="amount" name="qtdade" placeholder="0" ng-model="item.qtd" ng-change="addMoreRows(partyForm, item.qtd)">
			                        </label>
			                    </div>
		                    </div>
	                    </div>
                    </div>

                    <div class="customPadd">
                        <button type="submit" ng-disabled="partyForm.$invalid || savingParty || partyForm.qtd < 1 || partyForm.qtd > 5 || setInvalidQtd" class="button button-block button-positive">
                            <span class="loading-puff" ng-show="savingParty"><img src="img/puff.svg" alt=""></span>
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </ion-content>
</ion-view>