<ion-view>
    <ion-content class="padding logged">

        <div class="row">
            <div class="col">
                <div class="content-head">
                    <i class="icon ion-ios-paper"></i>
                    <h3>Relatórios</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form name="relatorioForm" novalidate ng-submit="gerarRelatorio(relatorioForm.$valid)" class="relatorioForm">

                    <div class="list list-inset">
                        <ionic-datepicker input-obj="datepickerRelStart">
                            <label class="item item-input">
                                <i class="icon ion-ios-calendar-outline"></i>
                                <button type="button" name="relatorioForm.dateStart" ng-model="relatorioForm.dateStart" class="button button-block button-default datePick-style">
                                    {{datepickerStart.inputDate | date:'dd-MM-yyyy'}}
                                </button>
                            </label>
                        </ionic-datepicker>
                    </div>

                    <div class="list list-inset">
                        <ionic-datepicker input-obj="datepickerRelEnd">
                            <label class="item item-input">
                                <i class="icon ion-ios-calendar-outline"></i>
                                <button type="button" name="relatorioForm.dateEnd" ng-model="relatorioForm.dateEnd" class="button button-block button-default datePick-style">
                                    {{datepickerEnd.inputDate | date:'dd-MM-yyyy'}}
                                </button>
                            </label>
                        </ionic-datepicker>
                    </div>

                    <p class="padding note">Informe o período selecionando a data inicial e a data final,
                    o relatório será enviado ao seu e-mail cadastrado na central.</p>

                    <div class="customPadd">
                        <button type="submit" ng-disabled="relatorioForm.$invalid || savingReport" class="button button-block button-positive">
                            <span class="loading-puff" ng-show="savingReport"><img src="img/puff.svg" alt=""></span>
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </ion-content>
</ion-view>